* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    color: aliceblue;
}

body {
    background-color: black;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bienvenidos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}